OPENAI_API_KEY=your_openai_api_key_here

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=enterprise-rag-assistant-langchain

APP_ENV=development
MODEL_NAME=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small

VECTOR_DB_PATH=./vectorstore
DOCUMENTS_PATH=./data/sample_docs